*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color: #fff;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
text-align: center;
text-transform: uppercase;
margin: 10 0;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price{
    margin: 10px auto;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.price #total{
    background-color: rgb(238, 93, 26);
    color: #fff;
    width: fit-content;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.price #total::before{
    content: 'Total:';
}
button{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: rgb(238, 93, 26);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
    border: none;
    color: #fff;
    transition: 0.5s;
}
button:hover{
    letter-spacing: 3px;
    background:  rgb(241, 179, 150);
}
.btnsearch{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table tr th{
    text-transform: capitalize;
}
th, td{
    padding: 5px;
}
#deleteAll{
    margin: 20px 0;
}